Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
drf-nested-routers==0.94.1
django-environ==0.11.2
psycopg2-binary==2.9.10
Pillow==10.4.0
requests==2.32.3

# NLP / Text processing
nltk==3.8.1
scikit-learn==1.5.1
numpy==1.26.4
gensim==4.3.2
textblob==0.18.0.post0

# Utilities
celery==5.4.0
redis==5.0.7
django-celery-results==2.5.1
gunicorn==22.0.0
whitenoise==6.7.0
